@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,500&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    background-color:#E8E8E8 ;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    background-color:#4D41C0;
    color:#ffffff
    
}

a, a:hover {
    color:unset;
    text-decoration: none;
}
